torch
torchvision
diffusers
transformers
timm
tqdm
accelerate
wandb
requests
numpy
einops
h5py
matplotlib
Pillow
click
tensorboard
pytest
git+https://github.com/openai/CLIP.git
ftfy
regex
git+https://github.com/fbcotter/pytorch_wavelets.git
